<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JCyL COVID-19 API Viewer</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="bg-light">

  <main id="app">
    <div class="container-md container-fluid" v-if="name != ''">
      <!-- title -->
      <div class="text-center">
        <p class="display-4 font-weight-light">Situación epidemialógica de COVID-19<br>{{ name }}</p>
        <p class="text-muted font-weight-light">Datos proporcionados por la <a href="#">API pública de la JCyL</a></p>
        <hr />
      </div>
      <!-- Next -->
      <!-- Buttons -->
      <div class="text-center">
        <div class="btn-group">
          <button class="btn" v-for="i of viewData.types" :class="buttonClass(i.default)"
            @click="buttonChange(i.default)">{{i.es}}</button>
        </div>
      </div>
      <!-- Charts -->
      <p class="font-weight-lighter">Comunidad autónoma: {{ name }}</p>
      <!-- State chat-->
      <div>
        <bar-chart :id="name" :data="epidemiologicalData[name]" :view-data="viewData"
          v-show="viewData.value != 'hospital'">
        </bar-chart>
        <!--<line-chart :id="name" :data="hospitalData[name]" :view-data="viewData" v-if="loadHospitalData"
          v-show="viewData.value == 'hospital'">
        </line-chart>-->
      </div>
      <hr />
      <!-- Provinces chats -->
      <p class=" font-weight-lighter">Por provincia</p>
      <div class="row">
        <div class="col-lg-4 col-md-12" v-for="pName of provincesName">
          <div class="text-center">
            <p>{{pName}}</p>
          </div>
          <bar-chart :id="pName" :data="epidemiologicalData[pName]" :view-data="viewData"
            v-show="viewData.value != 'hospital'">
          </bar-chart>
          <!--<line-chart :id="pName" :data="hospitalData[pName]" :view-data="viewData" v-if="loadHospitalData"
            v-show="viewData.value == 'hospital'"></line-chart>-->
        </div>
      </div>
    </div>
    <div class="container" v-else>
      <button class="btn btn-primary" @click="loadData">Reload</button>
    </div>
  </main>
  <footer>
    <p class="text-muted font-weight-light">Coronavirus Viewer JCYL API - v1.01 - Licence MIT</p>
  </footer>

  <!-- Scripts -->
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Vue-chartjs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

  <!-- My scripts -->
  <script src="src/raw/epidemiologicalData.js"></script>
  <script src="src/raw/hospitalData.js"></script>
  <script src="src/chartLine.js"></script>
  <script src="src/chartBar.js"></script>
  <script src="src/buttons.js"></script>
  <script src="src/app.js"></script>
</body>

</html>