<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Situación epidemiológica de COVID-19" />
    <meta
      name="keywords"
      content="epidemiológica,epidemia,covid,covid19,covid-19"
    />
    <title>JCyL COVID-19 API Viewer</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="./src/style.css" />
  </head>

  <body class="bg-light">
    <main id="app">
      <div class="container-md container-fluid" v-if="isEnd && isLoad">
        <!-- title -->
        <div class="text-center">
          <p class="display-4 font-weight-light">
            Situación epidemiológica de COVID-19<br />{{ state.name }}
          </p>
          <p class="text-muted font-weight-light">
            Datos proporcionados por la <a href="#">API pública de la JCyL</a>
          </p>
          <hr />
        </div>
        <!-- Next -->
        <!-- Buttons -->
        <div class="text-center">
          <div class="btn-group">
            <button
              class="btn"
              v-for="i of viewData.types"
              :class="buttonClass(i.default)"
              @click="buttonChange(i.default)"
            >
              {{i.es}}
            </button>
          </div>
        </div>
        <!-- Charts -->
        <p class="font-weight-lighter">
          Comunidad autónoma: {{ state.name }} ({{state.hab}} habitantes)
        </p>
        <!-- State chat -->
        <div v-show="viewOverview">
          <over-view
            :id="state.name"
            :data-epidemiologica="epidemiologicalData"
            :data-hospital="hospitalData"
          />
        </div>
        <div v-show="viewEpidemiological">
          <bar-chart
            :id="state.name"
            :data="epidemiologicalData[state.name]"
            :view-data="viewData"
          />
        </div>
        <div v-show="viewHospital">
          <line-chart
            :id="state.name"
            :data="hospitalData[state.name]"
            :view-data="viewData"
          />
        </div>
        <hr />
        <!-- Provinces chats -->
        <div v-show="!viewOverview">
          <p class="font-weight-lighter">Por provincia</p>
          <div class="row">
            <div
              :class="`col-lg-${tam} col-md-12`"
              v-for="province of provinces"
            >
              <hr class="mb-1 mt-4" />
              <div class="text-center mt-2">
                <p class="mb-0">
                  {{ province.name }} ({{province.hab}} habitantes)
                </p>
              </div>
              <div v-show="viewEpidemiological">
                <bar-chart
                  :id="province.name"
                  :data="epidemiologicalData[province.name]"
                  :view-data="viewData"
                />
              </div>
              <div v-show="viewHospital">
                <line-chart
                  :id="province.name"
                  :data="hospitalData[province.name]"
                  :view-data="viewData"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        style="height: 94vh !important"
        class="container d-flex h-100"
        v-else
      >
        <div class="align-self-center w-100 text-center">
          <div class="spinner-border" role="status" v-if="!isEnd">
            <span class="sr-only">Loading...</span>
          </div>
          <div v-else>Some error</div>
        </div>
      </div>
    </main>
    <footer class="text-center">
      <p class="text-muted font-weight-light">
        Coronavirus Viewer JCYL API - v4.1.0 - Licence MIT
      </p>
    </footer>

    <!-- Scripts -->
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Vue-chartjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

    <!-- My scripts
  <script src="src/raw/epidemiologicalData.js"></script>
  <script src="src/raw/hospitalData.js"></script> -->
    <script src="src/chartBar.js"></script>
    <script src="src/chartLine.js"></script>
    <script src="src/overview.js"></script>
    <script src="src/app.js"></script>
  </body>
</html>
